* {
  transition: 0.3s;
}
nav {
  width: 15rem;
  min-height: 100vh;
  background-color: #363a54;
  border-radius: 0 40px 40px 0;
  position: relative;
  padding: 0.4rem;
}
.arrow {
  display: none;
  padding: 3px;
  top: 50%;
  left: 100%;
  position: absolute;
  cursor: pointer;
  transition: 0.2s;
  svg path {
    stroke: #3e3861;
  }
}

.logo {
  padding: 3rem 0 0 2rem;

  img {
    display: none;
  }
}

.selector-box {
  width: 100%;
  position: relative;
  z-index: 500;
  margin-top: 2rem;
}

li {

  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
 padding: .9rem 1.5rem;
  width: 100%;
  color: #e1e0ec;
  font-size: .8rem;
  transition: 0.2s;
  &:hover {
    background-color: #33364e;
  }

  img {
    width: 20px;
  }
}

.menu-expanded {
  width: 13rem;
}
.arrow-rotate {
  transform: rotate(180deg);
  padding: 6px 6px 6px 10px;
}
button.expanded {
  justify-content: flex-start;
  padding-left: 0.4rem;
}
span.expanded {
  animation: expandSpan 0.6s;
  display: block;
}
@keyframes expandSpan {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 915px) {
  nav {
    position: absolute;
    z-index: 999;
    width: 3.7rem;
  }
  .arrow {
    display: block;
  }
  .logo {
    display: flex;
    justify-content: center;
    padding: 0;
    svg {
      display: none;
    }
    img {
      display: block;
      padding: 3.5rem 0rem 1rem 0.4rem;
    }
  }

  button {
    justify-content: center;
    padding: 0;
    img {
      transform: scale(0.7);
      margin-right: 0rem;
    }
  }
  span {
    display: none;
    font-size: 0.7rem;
    margin-left: 10px;
  }
}
