<section class="container">
  <div class="profile-menu">
    <div class="box-img">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/4/43/Foto_Perfil.jpg"
        alt=""
        srcset=""
      />
      <h4>Dânison</h4>

      <div class="drop-down">
        <ul>
          <li>
            <a href="">Meu perfil</a>
          </li>

          <li>
            <a href="">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <h1>Todos os perfis</h1>
  <div class="cards">
    <app-card-profile
      *ngFor="let profile of profiles"
      [profile]="profile"
    ></app-card-profile>
  </div>
</section>
