* {
  transition: 0.2s;
}
.container h1 {
  margin-bottom: 2rem;
}

.container {
  position: relative;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

@media only screen and (max-width: 915px) {
  .cards {
    padding: 1rem 0rem;
  }
  .profile-menu {
    h4 {
      display: none;
    }
    .drop-down {
      left: -80%;
    }
  }
}
@media only screen and (max-width: 550px) {
  .cards {
    padding: 1rem 12%;
  }
}
@media only screen and (max-width: 450px) {
  .container {
    padding: 0rem 1.5rem 3rem 1.5rem;
  }
  .cards {
    padding: 1rem 0%;
  }
}
