* {
  transition: 0.2s;
}
.container {
  overflow: scroll;
  height: 100vh;
  padding: 3rem 2rem;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

@media only screen and (max-width: 700px) {
  .container {
    margin-left: 3.7rem;
  }
  .cards {
    padding: 1rem 5rem;
  }
}
@media only screen and (max-width: 550px) {
  .cards {
    padding: 1rem 12%;
  }
}
@media only screen and (max-width: 450px) {
  .container {
    margin-left: 3.7rem;
    padding: 3rem 1.5rem;
  }
  .cards {
    padding: 1rem 0%;
  }
}
