<div class="page">
  <div class="box">
    <div class="box-text">
      <img src="/assets/icons/logo.svg" alt="" class="logo" />
      <div class="text-btn">
        <div class="text">
          <h2>Seja bem vindo!</h2>
          <p>Caso não possua conta, junte-se a nós!</p>
        </div>
        <div>
          <app-button
            bg_color="white"
            text="Criar Conta"
            [routerLink]="['/create-account']"
          />
        </div>
      </div>
    </div>
    <div class="box-form">
      <img src="/assets/icons/logo-dark.svg" alt="" class="logo" />

      <form  #form="ngForm" [formGroup]="formLogin">
        <h2>Login</h2>
        <div class="col">
          <label for="username">Usuário</label>
          <input type="text" id="username" formControlName="username" [ngClass]="{'invalid': formLogin.get('username')?.invalid && form.submitted}" />
        </div>
        <div class="col password">
          <label for="password">Senha</label>
          <input [type]="viewPassword ? 'text' : 'password'" id="password" formControlName="password" [ngClass]="{'invalid': formLogin.get('password')?.invalid && form.submitted}" />
          <img
            *ngIf="!viewPassword"
            class="eyes-open"
            style="width: 22px"
            src="/assets/icons/eyes_open.svg"
            alt=""
            (click)="open()"
          />
          <img
            *ngIf="viewPassword"
            class="eyes-close"
            style="width: 23px"
            src="/assets/icons/eyes_close.svg"
            alt=""
            (click)="open()"
          />
        </div>
        <div class="box-btn">
          <app-button text="Login" (click)="login()"></app-button>
          <h5>ou</h5>
          <app-button bg_color="dark-blue" text="Google"></app-button>
        </div>
      </form>

      <p>Não possui uma conta? <a [routerLink]="['/create-account']">Crie agora.</a></p>
    </div>
  </div>
</div>
