<div class="page">
    <div class="box">
      <div class="box-text">
        <img src="/assets/icons/logo.svg" alt="" />
        <div class="text-btn">
          <div class="text">
            <h2>Seja bem vindo!</h2>
            <p>Caso já possua conta, faça seu login!</p>
          </div>
          <div>
            <app-button bg_color="white" text="Login" [routerLink]="['/login']"/>
          </div>
        </div>
      </div>
      <div class="box-form">
        <form action="#">
         
        </form>
      </div>
    </div>
  </div>
  