
h3, span{
  color: #404663;
}
.container{
  gap: 1.5rem;
  max-width: 900px;
}


input {
  width: 100%;
}

.row {
  margin-bottom: 1rem;
}

.col {
  width: 100%;
}

.idade {
  width: 16%;
}
.nome {
  width: 85%;
}
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Three columns with varying widths */
}
.btn-case, .box-btn {
  background-color: #dadadb;
  min-width: 3rem;
  height: 26px;
  border-radius: 13px;
  border: 2px solid #b5b6bd;
  position: relative;
  transition: 0.2s;

  input{
    display: none;
  }

 
}
.box-btn-on {
  background-color: #bdbdc5;
}
.btn-sliders {
  top: 1px;
  position: absolute;
  height: 21px;
  width: 21px;
  background-color: #bdbfca;
  border-radius: 50%;
  border: 1px solid #dad9e0;
  transition: 0.2s;
}
.btn-left {
  left: 1px;
}
.btn-rigth {
  left: 1.3rem;
  background-color: #4d5579;
}
.spc-btw {
  justify-content: space-between;
}
.gap-1 {
  gap: 1rem;
}
@media only screen and (max-width: 1200px) {
  .box {
    width: 94%;
  }
}
@media only screen and (max-width: 1000px) {
  .box-form {
    padding: 2rem 3rem;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  .col-1,
  .col-2 {
    width: 100%;
  }
  .page {
    height: auto;
    padding: 3rem 0;
  }
}
@media only screen and (max-width: 800px) {
  .box {
    width: 70%;
  }
  .box-form {
    border-radius: 10px;
  }

  .box-text {
    display: none;
  }
}
@media only screen and (max-width: 650px) {
  .box {
    width: 90%;
  }
  label{
    font-size: .9rem;
  }
}
@media only screen and (max-width: 500px) {
  .box-form {
    padding: 2rem 1.5rem;
  }
  .box {
    width: 94%;
  }
}
