<div class="card">
  <div>
    <div class="img-box">
      <img [src]="profile.profilePhotoUrl" alt="" />
    </div>
    <div class="name">
      <h4>{{ profile.name }}</h4>
      <h5>{{ profile.age }} anos</h5>
    </div>
  </div>
  <div class="info-box">
    <h5>Acadêmico de {{ profile.course }}</h5>
    <h5>Em {{ profile.faculty }}</h5>
    <h5>É de {{ profile.cityOrigin }}</h5>
    <h5 *ngIf="profile.hasRentedProperty">Já possui imóvel alugado</h5>
    <h5 *ngIf="!profile.hasRentedProperty">Ainda não possui imóvel alugado</h5>
  </div>
  <div class="footer-box">
    <div>
      <a *ngIf="profile.facebook" [href]="profile.facebook" target="_blank">
        <img style="width: 30px" src="/assets/icons/facebook.svg" alt="" />
      </a>
      <a *ngIf="profile.instagram" [href]="profile.instagram" target="_blank">
        <img
          style="width: 30px"
          src="/assets/icons/instagram.svg"
          alt=""
          srcset=""
        />
      </a>
    </div>
    <a [routerLink]="['','home', 'profile', profile.id]">VER PERFIL</a>
  </div>
</div>
