<div [formGroup]="formLogin" #form="ngForm">
  <h3>Escolha seu login</h3>
  <div class="col">
    <label for="username">Usuário</label>
    <input
      type="text"
      id="username"
      formControlName="username"
      [ngClass]="{ 'invalid': formLogin.get('username')?.invalid && submited}"
      (input)="submited = false"
    />
  </div>
  <div class="col password">
    <label for="password">Senha</label>
    <input
      [type]="viewPassword ? 'text' : 'password'"
      id="password"
      formControlName="password"
      [ngClass]="{ 'invalid': formLogin.get('password')?.invalid && submited}"
      (input)="submited = false"
    />
    <img
      *ngIf="!viewPassword"
      class="eyes-open"
      style="width: 22px"
      src="/assets/icons/eyes_open.svg"
      alt=""
      (click)="toogleViewPassword()"
    />
    <img
      *ngIf="viewPassword"
      class="eyes-close"
      style="width: 23px"
      src="/assets/icons/eyes_close.svg"
      alt=""
      (click)="toogleViewPassword()"
    />
  </div>
  <div class="col password">
    <label for="password">Confirmar senha</label>
    <input
      [type]="viewPassword ? 'text' : 'password'"
      id="confirm-password"
      formControlName="confirmPassword"
      [ngClass]="{ 'invalid': formLogin.get('confirmPassword')?.invalid && submited}"
      (input)="submited = false"
    />
    <img
      *ngIf="!viewPassword"
      class="eyes-open"
      style="width: 22px"
      src="/assets/icons/eyes_open.svg"
      alt=""
      (click)="toogleViewPassword()"
    />
    <img
      *ngIf="viewPassword"
      class="eyes-close"
      style="width: 23px"
      src="/assets/icons/eyes_close.svg"
      alt=""
      (click)="toogleViewPassword()"
    />
  </div>
  <div class="btn-next">
    <app-button text="Avançar" (click)="nextStep()"></app-button>
  </div>
</div>
